.page-wrapper {
    grid-template-columns: 1fr; 
}

.header     { grid-row: 1; grid-column: 1; }
.navigation { grid-row: 2; grid-column: 1; }
.main       { grid-row: 3; grid-column: 1; }
.sidebar    { grid-row: 4; grid-column: 1; }
.ads        { grid-row: 5; grid-column: 1; }
.footer     { grid-row: 6; grid-column: 1; }

@media (min-width: 768px) {
    .page-wrapper {
        grid-template-columns: 1fr 3fr; 
        grid-template-rows: auto auto 1fr auto; 
    }

    .header {
        grid-column: 1 / -1; 
        grid-row: 1;
    }
    
    .navigation {
        grid-column: 2; 
        grid-row: 2;
    }

    .sidebar {
        grid-column: 1;
        grid-row: 2 / 4; 
    }

    .main {
        grid-column: 2;
        grid-row: 3; 
    }

    .ads {
        grid-column: 1;
        grid-row: 4; 
    }
    
    .footer {
        grid-column: 2; 
        grid-row: 4;
    }
}

@media (min-width: 1024px) {
    .page-wrapper {
        grid-template-columns: 1fr 4fr 1fr; 
        grid-template-rows: auto 1fr 2fr auto; 
    }

    .header {
        grid-column: 1 / -1; 
        grid-row: 1;
    }

    .sidebar {
        grid-column: 1;
        grid-row: 2 / 4; 
    }

    .navigation {
        grid-column: 2;
        grid-row: 2;
    }

    .main {
        grid-column: 2;
        grid-row: 3;
    }

    .ads {
        grid-column: 3;
        grid-row: 2 / 4; 
    }

    .footer {
        grid-column: 1 / -1; 
        grid-row: 4; 
    }
}