.recipe{
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: red;
}
h2 {
    font-style: italic;
}
.item {
    font-weight: bold;
}
.underscore {
    text-decoration: underline;
}Ñ–
.crossed-out {
    text-decoration: line-through;
}
.highlighted {
    background-color: yellow;
}