p.text-background span {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

div .text-background span {
  background-color: yellow;
}

span span {
  background-color: gray;
  text-decoration: line-through;
}

ol li span span {
  font-size: 18px;
  text-transform: uppercase;
}

section > p {
  text-shadow: 3px 3px 5px rgba(248, 4, 4, 0.8);
  text-indent: 50px;
}

li > ul {
  list-style-image: url('li.svg'); 
}

div > p.text-background {
  word-spacing: 50px;
}

div.text-bold > p {
  font-weight: bold;
}

div.text-bold > section > p {
  line-height: 45px;
}

img + p {
  background-color: brown;
}

section ~ p {
  color: red;
}
