body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

a {
    text-decoration: none;
    color: #333;
}

img {
    display: block;
    height: auto; 
    max-width: 100%; 
}

.wrapper {
    width: 1140px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.main {
    clear: both; 
    padding-top: 30px; 
    text-align: center; 
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left; 
    display: block; 
}

.nav {
    float: right; 
}

.nav-item {
    float: left; 
    margin-left: 8px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    background-color: #fff64a; 
}

.nav-link:hover {
    background-color: #dae589;
}

.shadow-item {
    text-align: start; 
    margin: 20px; 
    border: 1px solid green; 
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    display: inline-block; 
    vertical-align: top; 
    padding: 15px; 
    position: relative; 
}

.shadow-item img {
    width: 100%;
    margin: 5px 0; 
}

.shadow-item p,
.shadow-item strong {
    margin: 0;
}

.top-left-shadow {
    box-shadow: -10px -10px 5px green;
}

.full-shadow {
    box-shadow: 0 0 10px 10px green;
}

.right-bottom-shadow {
    box-shadow: 0.4em 0.4em 5px rgba(0, 128, 0, 0.5);
}

.faint-full-shadow {
    box-shadow: 0 0 50px 2px green;
}

.multicoloured-shadow {
    box-shadow: inset 5px 0 red, inset 0 5px green, inset -5px 0 blue, inset 0 -5px darkorange;
}

.duocolored-shadow {
    border-top: 3px solid darkorange; 
    border-bottom: 3px solid green;
}

.is-float-left {
    float: left; 
    width: 200px; 
    margin: 10px 20px 10px 0;
}

.is-float-right {
    float: right; 
    width: 200px; 
    margin: 10px 0 10px 20px;
}