*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-text-main: #333;
    --color-text-light: #777;
    --color-border: #eee;
    --font-family-main: 'Roboto', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-size-large: 40px; 
    --font-size-big: 16px;
    --font-size-small: 14px;
    --padding-base: 15px;
}

.page-body {
    font-family: var(--font-family-main);
    color: var(--color-text-main);
    background-color: #fff;
    padding: var(--padding-base);
}

.wrapper.container {
    max-width: 450px; 
    margin: 0; 
    margin-left: var(--padding-base); 
}

.separator-line { 
    border: none;
    height: 1px;
    background-color: var(--color-border);
    margin: 30px 0 15px 0; 
}

.header-title {
    font-size: 30px;
    font-weight: var(--font-weight-medium);
    margin-bottom: 5px;
}

.header-desc {
    color: var(--color-text-light);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}

.current-weather {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding: 10px 0 0 0; 
    gap: 50px; 
}

.current-main {
    display: flex;
    align-items: center;
}

.weather-icon.big-icon {
    width: 70px; 
    height: 70px; 
    margin-right: 15px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon img.image.big {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    margin-top: 0; 
}

.weather-temp-box {
    display: flex;
    align-items: flex-start;
    line-height: 1;
    margin-top: -10px;
}

.weather-temp.large {
    font-size: var(--font-size-large); 
    font-weight: var(--font-weight-light);
}

.weather-unit {
    font-size: 24px;
    font-weight: var(--font-weight-light);
    vertical-align: top;
    padding-top: 8px; 
}

.current-meta.meta-list {
    font-size: var(--font-size-small);
    color: var(--color-text-light);
    line-height: 1.5;
    text-align: left; 
}

.forecast-list.list {
    display: flex;
    flex-direction: column;
}

.forecast-item.item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 0;
    border-bottom: 1px solid var(--color-border);
    font-size: var(--font-size-big);
}

.forecast-item.item:last-child {
    border-bottom: none;
}

.item-day {
    flex-grow: 1; 
    font-weight: var(--font-weight-medium); 
    text-align: left;
}

.item-icon {
    width: 30px; 
    height: 30px; 
    flex-basis: 30px; 
    margin-right: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icon img.image-icon {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.item-temp-column {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    flex-basis: 25%; 
    line-height: 1.1; 
}

.item-temp.big {
    font-weight: var(--font-weight-medium);
}

.item-temp {
    font-weight: var(--font-weight-light);
    color: var(--color-text-light);
    font-size: var(--font-size-small);
}

.item-meta {
    font-size: var(--font-size-small);
    color: var(--color-text-light);
    flex-basis: 20%; 
    text-align: right;
}