body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

a {
    text-decoration: none;
    color: #333;
}

img {
    display: block;
    height: auto; 
}


.wrapper {
    width: 1140px;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto; 
    background-color: #ffffff;
}

.main {
    clear: both; 
    padding-top: 30px; 
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.logo {
    float: left; 
    display: block; 
}

.nav {
    float: right; 
}

.nav-item {
    float: left; 
    margin-left: 8px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    background-color: #fff64a; 
}

.nav-link:hover {
    background-color: #dae589;
}

.main p {
    text-align: start;
}
.main strong {
    font-size: 18px;
}
.coloured-monolithic,
.coloured-parent {
    color: #ffffff; 
}

.coloured-monolithic {
    margin-top: 20px;
    border-radius: 70px;
    padding: 15px 30px;
    background: #5e1212;
    overflow: hidden;
}

.coloured-parent {
    margin-top: 20px;
    background: #975959;
    border-radius: 70px;
    padding: 15px 30px;
    overflow: hidden;
}

.coloured-derived {
    width: 500px;
    background: #ac3131;
    border-radius: 70px;
    padding: 15px 30px;
    margin-bottom: 15px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}