*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: #f9d749; 
    --color-text: #555;
    --gap-base: 5px;
}

body {
    background-color: #eee;
    padding: 20px;
}

.grid-container {
    display: grid;
    gap: var(--gap-base);
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(24, 1fr); 
    height: 960px; 
}

.item {
    background-color: var(--color-bg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white; 
}

.item::before {
    content: " " counter(item-counter); 
    counter-increment: item-counter; 
    font-weight: bold;
    color: white;
}

.grid-container {
    counter-reset: item-counter; 
}

#item-1 {
    grid-column: 1;
    grid-row: 1 / 25; 
}

#item-2 {
    grid-column: 2;
    grid-row: 1 / 13; 
}
#item-3 {
    grid-column: 2;
    grid-row: 13 / 25;
}

#item-4 {
    grid-column: 3;
    grid-row: 1 / 9;
}
#item-5 {
    grid-column: 3;
    grid-row: 9 / 17;
}
#item-6 {
    grid-column: 3;
    grid-row: 17 / 25;
}

#item-7 {
    grid-column: 4;
    grid-row: 1 / 7; 
}
#item-8 {
    grid-column: 4;
    grid-row: 7 / 13;
}
#item-9 {
    grid-column: 4;
    grid-row: 13 / 19;
}
#item-10 {
    grid-column: 4;
    grid-row: 19 / 25;
}

#item-11 {
    grid-column: 5;
    grid-row: 1 / 5; 
}
#item-12 {
    grid-column: 5;
    grid-row: 5 / 9; 
}
#item-13 {
    grid-column: 5;
    grid-row: 9 / 13; 
}
#item-14 {
    grid-column: 5;
    grid-row: 13 / 17; 
}
#item-15 {
    grid-column: 5;
    grid-row: 17 / 21; 
}
#item-16 {
    grid-column: 5;
    grid-row: 21 / 25; 
}

#item-17 { grid-column: 6; grid-row: 1 / 3; } 
#item-18 { grid-column: 6; grid-row: 3 / 5; }
#item-19 { grid-column: 6; grid-row: 5 / 7; }
#item-20 { grid-column: 6; grid-row: 7 / 9; }
#item-21 { grid-column: 6; grid-row: 9 / 11; }
#item-22 { grid-column: 6; grid-row: 11 / 13; }
#item-23 { grid-column: 6; grid-row: 13 / 15; }
#item-24 { grid-column: 6; grid-row: 15 / 17; }
#item-25 { grid-column: 6; grid-row: 17 / 19; }
#item-26 { grid-column: 6; grid-row: 19 / 21; }
#item-27 { grid-column: 6; grid-row: 21 / 23; }
#item-28 { grid-column: 6; grid-row: 23 / 25; }