body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

a {
    text-decoration: none;
    color: #333;
}

img {
    display: block;
    height: auto; 
}

.wrapper {
    width: 1140px; 
    padding: 20px; 
    margin-left: auto;
    margin-right: auto; 
    background-color: #ffffff;
}

.main {
    clear: both; 
    padding-top: 30px; 
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left; 
    display: block; 
}

.nav {
    float: right; 
}

.nav-item {
    float: left; 
    margin-left: 8px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    background-color: #fff64a; 
}

.nav-link:hover {
    background-color: #dae589;
}

.article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 5px dotted red;
}

.article p {
    text-align: justify;
    margin: 0;
}

.block {
    float: left;
    width: 300px;
    margin: 20px; 
    padding: 10px;
    min-height: 200px; 
    text-align: start;
    background: #ffffff;
}

.simple-coloured {
    border: 4px solid #1bd669;
}

.round-borders {
    border-radius: 30px;
}

.leaf-borders {
    border-radius: 80px 0 80px 0;
}

.curvy-borders {
    border-radius: 50px 150px;
}

.double-coloured {
    border: 20px solid #7fff00;
    padding: 20px;
}

.bent-rectangle {
    border-top: 20px solid #008000;
    border-bottom: 20px solid #008000;
    border-radius: 150px / 30px;
    padding: 10px 20px; 
}

.bent-diamond {
    border-left: 15px solid #008000;
    border-right: 20px solid #008000;
    border-radius: 250px 80px / 90px 25px 60px;
    padding: 10px 20px; 
}

.curved-corner {
    border-left: 20px solid #008000;
    border-top: 20px solid #008000; 
    border-bottom-right-radius: 100%;
    padding: 20px 50px 40px 20px; 
}

.stretch-diamonds {
    border-image-slice: 22;
    border-image-width: 20px;
    border-image-repeat: stretch;
    border-image-source: url("../lab6_2/images/dimond-pattern.png");
    border-style: solid;
    padding: 20px; 
}

.repeating-diamonds {
    border-image-slice: 13;
    border-image-width: 16px;
    border-image-repeat: repeat;
    border-image-source: url("../lab6_2/images/dimond-pattern.png");
    border-style: solid;
    padding: 16px; 
}

.small-diamonds {
    border-image-slice: 27;
    border-image-width: 17px;
    border-image-repeat: repeat;
    border-image-source: url("../lab6_2/images/dimond-pattern.png");
    border-style: solid;
    padding: 17px; 
}

.rough-edges {
    border-image-slice: 115 185;
    border-image-width: 20px;
    border-image-repeat: stretch;
    border-image-source: url("../lab6_2/images/rough-edges.png");
    border-style: solid;
    padding: 20px; 
}

.repeating-circles {
    border-image-slice: 184 175;
    border-image-width: 31px 22px;
    border-image-repeat: repeat;
    border-image-source: url("../lab6_2/images/orange-circle.png");
    border-style: solid;
    padding: 31px 22px;
}

.rounded {
    border-image-slice: 184 175;
    border-image-width: 20px;
    border-image-repeat: stretch;
    border-image-source: url("../lab6_2/images/orange-circle.png");
    border-style: solid;
    padding: 20px; 
}

.is-float-left {
    float: left; 
    width: 200px; 
    margin: 10px 20px 10px 0;
}

.is-float-right {
    float: right; 
    width: 200px; 
    margin: 10px 0 10px 20px;
}